@font-face {
    font-family: Germania One;
    src: url("/fonts/GermaniaOne-Regular.ttf");
}

html, body {
    height: 100%;
    margin: 0px;
    font-family: Calibri, 'Trebuchet MS', sans-serif
}

#container {
    display: flex;
    height: 100%; 
    margin: 0px 0px 0px 0px;
}

.left-container {
    background-image: url("/images/pexels-asadphoto-457882.jpg");
    background-size: auto 100%;
    width: 35%;
}

.right-container {
    width: 65%;
    background-color: #edede9;
    font-size: 1.1em;
    font-weight: bold;
}

.caption {
    padding: 20% 0px 50px 40px;
}

.logo-backsplash {
    position: relative;
    background-color: rgb(0,0,0,0.5);
    height: 100px;
    top: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.logo {
    max-width: 80%;
    height: 80%;
}

.odin {
    font-family: Germania One;
    color: white;
    font-size: 4em;
    margin-left: 6px;
}

form {
    padding: 10px 0px 10px 0px
}

.form-row {
    display: flex;
}

.form-row > p {
    margin: 10px 50px 0px 0px;
}

.formContainer {
    padding: 20px 20px 20px 40px;
    background-color: white;
}

label {
    font-family: Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 0.6em;
    font-weight: bold;
    letter-spacing: 0.2em;
    color: #495057;
}

input {
    width: 220px;
}

.account {
    padding: 30px 0px 0px 40px;
    font-weight: 100;
}

