@font-face {
    font-family: Germania One;
    src: url("/fonts/GermaniaOne-Regular.ttf");
}

html, body {
    height: 100%;
    margin: 0px;
}

#container {
    display: flex;
    height: 100%; 
    margin: 0px 0px 0px 0px;
}

.left-container {
    background-image: url("/images/pexels-asadphoto-457882.jpg");
    background-size: auto 100%;
    width: 35%;
}

.right-container {
    width: auto;
    background-color: #edede9
}

.logo-backsplash {
    position: relative;
    background-color: rgb(0,0,0,0.5);
    height: 100px;
    top: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.logo {
    max-width: 80%;
    height: 80%;
}

.odin {
    font-family: Germania One;
    color: white;
    font-size: 4em;
    margin-left: 6px;
}

.form-row {
    display: flex;
}

.form-row > p {

}